@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

header > div {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 60px;
    margin-right: 1rem;
  }

  .search-bar label, input {
    background-color: rgba(0,0,0,.05);
    border: none;    
    padding: 0em 1em; 
  }

  .search-bar label img {
    width: 25px;
    height: auto;
    position: relative;
    top: 12px;
  }

  .search-bar input {
    width: 700px;
  }

  .search-bar-container form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  .search-bar button {
    background-color: #fb3e44;
    color: white;
    padding: 1em 2em;
    border: 1px solid grey
  }

  .search-bar-container a {
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;    
  }

  .join-link {
    font-weight: bold;
    border: 2px black groove;
}

/* form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white */

.section-box {
    height: 600px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

#plans {
    background-color: rgba(232,217,217,.3);
}

#plans h1 {
    font-size: 5em;
}

.article {
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin: 60px;
}

.plans-buttons {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.plans-buttons a {
    font-size: 20px;
    text-decoration: none;
    padding: 20px 30px;
}

.see-plans-button {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.join-f-f-button {
    color: black;
}

#companies {
    justify-content: center;
}

#companies img {
    width: 200px;
}

#companies h2 {
    font-size: 2em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0 30px;
    margin-top: 60px;
}

#companies article {
    width: 60%;
}

.icon {
    width: 50px;
}

.features {
    display: flex;
    justify-content: space-evenly;
}

.features article {
    border: 1px solid black;
}