@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 60px;
    margin-right: 1rem;
  }

  .magnifying-glass {
    width: 20px;

  }

  .search-bar label, input {
    background-color: rgba(0,0,0,.05);
    border: none;    
    padding: 1em 1em; 
  }

  .search-bar label img {
    height: auto;
    padding: 5px;
  }

  .search-bar input {
    width: 500px;
  }

  .search-bar-container form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    text-align: start;
  }

  .search-bar button {
    background-color: #fb3e44;
    color: white;
    padding: 1em 1.5em;
  }

  .search-bar-container a {
    color: black;
    text-decoration: none;
    padding: 10px 30px;    
  }

  .join-link {
    font-weight: bold;
    border: 2px black groove;
}

/* form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white */
  
